.card {
  width: 100%;
  padding: 0.5rem;
  justify-content: center;
}

.user-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

.page-name-project-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head-actions {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  height: 50px;
  flex-direction: row;
  background-color: #f9fafb;
  justify-content: space-between;
}

.page-name {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  padding: 20px;
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-items: center;
  flex-direction: column;
  margin: auto;
}

input {
  margin: 5%;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.test {
  margin: 20px;
}

th {
  text-align: center;
}

td {
  text-align: center;
}

.myTable {
  height: 50vh;
}
