<div class="card">
  <div class="head-actions">
    <div class="actions">
      <div class="page-name">
        <h1>Users</h1>
      </div>
    </div>
    <div class="page-name-project-title"></div>
    <div class="task-create">
      <p-button
        severity="success"
        [rounded]="true"
        [outlined]="true"
        icon="pi pi-plus"
        title="Create user."
        iconPos="left"
        (onClick)="onCreateUser()"
      ></p-button>
    </div>
  </div>
  <p-table
    class="table"
    [value]="items"
    [paginator]="true"
    [(rows)]="offset"
    [rowsPerPageOptions]="[5, 10, 15]"
    (onPage)="onChangePage($event)"
    [totalRecords]="totalRecords"
    [lazy]="true"
    [loading]="loading"
    loadingIcon="pi pi-spin pi-spinner-dotted"
    (onLazyLoad)="onLazyLoad()"
    styleClass="p-datatable-gridlines"
    (onSort)="customSort($event)"
    [customSort]="true"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Picture</th>
        <th pSortableColumn="username">
          Username <p-sortIcon field="username"></p-sortIcon>
        </th>
        <th pSortableColumn="firstName">
          First name <p-sortIcon field="firstName"></p-sortIcon>
        </th>
        <th pSortableColumn="lastName">
          Last name <p-sortIcon field="lastName"></p-sortIcon>
        </th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" class="myTable" let-item>
      <tr>
        <td>
          <img
            src="{{ item.imageUrl }}"
            style="height: 50px; width: 50px; border-radius: 50%"
          />
        </td>
        <td>
          {{ item.username }}
        </td>
        <td>{{ item.firstName }}</td>
        <td>{{ item.lastName }}</td>
        <td>{{ item.role.name }}</td>
        <td>
          <div class="user-actions">
            <p-button
              type="button"
              title="Delete"
              icon="pi pi-trash"
              size="small"
              severity="danger"
              [rounded]="true"
              [outlined]="true"
              (onClick)="onDelete(item.id)"
            ></p-button>
            <p-button
              type="button"
              title="Edit"
              [rounded]="true"
              [outlined]="true"
              size="small"
              icon="pi pi-pencil"
              severity="warning"
              (onClick)="onEdit(item.id)"
            ></p-button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6">
          <app-not-found-resource
            [totalRecords]="totalRecords"
          ></app-not-found-resource>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft"> </ng-template>
    <ng-template pTemplate="paginatorright"> </ng-template>
  </p-table>
  <p-confirmDialog
    [style]="{ width: '50vw' }"
    key="positionDialog"
    [baseZIndex]="10000"
  ></p-confirmDialog>
  <p-sidebar [(visible)]="visibleSidebar" position="right" [baseZIndex]="10000">
    <ng-template pTemplate="header"><h3>Edit User</h3></ng-template>
    <ng-template pTemplate="content">
      <form>
        <div class="flex flex-column gap-2 register-input">
          <label for="username">Username</label>
          <input
            type="text"
            pInputText
            class="p-inputtext-md"
            name="username"
            id="sidebar-input"
            value="{{ userDetails?.username }}"
            [(ngModel)]="username"
          />
        </div>
        <div class="flex flex-column gap-2 register-input">
          <label for="password">Password</label>
          <input
            type="password"
            pInputText
            class="p-inputtext-md"
            name="password"
            id="sidebar-input"
            [(ngModel)]="password"
            placeholder="Password"
          />
        </div>
        <div class="flex flex-column gap-2 register-input">
          <label for="confirm-password">Confirm password</label>
          <input
            type="password"
            pInputText
            class="p-inputtext-md"
            name="confirm-password"
            id="sidebar-input"
            [(ngModel)]="confirmPassword"
            placeholder="Confirm password"
          />
        </div>
        <div class="edit-user-names">
          <div class="flex flex-column gap-2 user-edit-input">
            <label for="first-name">First name</label>
            <input
              type="text"
              pInputText
              class="p-inputtext-md"
              id="sidebar-input"
              value="{{ userDetails?.firstName }}"
              name="firstName"
              placeholder="First Name"
              [(ngModel)]="firstName"
            />
          </div>
          <div class="flex flex-column gap-2 user-edit-input">
            <label for="first-name">Last name</label>
            <input
              type="text"
              pInputText
              class="p-inputtext-md"
              id="sidebar-input"
              value="{{ userDetails?.lastName }}"
              name="lastName"
              placeholder="Last Name"
              [(ngModel)]="lastName"
            />
          </div>
        </div>
      </form>
    </ng-template>
    <ng-template pTemplate="footer">
      <button
        pButton
        type="submit"
        label="Edit User"
        class="p-button-lg"
        (click)="onSubmit()"
        [style]="{ width: '100%' }"
      ></button>
    </ng-template>
  </p-sidebar>
</div>
<p-toast></p-toast>
