<div class="card">
  <div class="head-actions">
    <div class="actions">
      <!-- <p-button
        severity="info"
        [rounded]="true"
        [outlined]="true"
        icon="pi pi-backward"
        title="Back to projects."
        iconPos="left"
        (onClick)="onHomeButton()"
      ></p-button> -->
    </div>
    <div class="page-name-project-title">
      <div class="page-name">
        <label style="font-weight: bold; font-size: 1.5rem; display: block"
          >Users</label
        >
      </div>
    </div>
    <div class="task-create">
      <p-button
        severity="success"
        [rounded]="true"
        [outlined]="true"
        icon="pi pi-plus"
        title="Create user."
        iconPos="left"
        (onClick)="onCreateUser()"
      ></p-button>
    </div>
  </div>
  <p-table class="table" [value]="items" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
      <tr>
        <th>Picture</th>
        <th>Name</th>
        <th>Full name</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" class="myTable" let-item>
      <tr>
        <td>
          <img
            src="{{ item.imageUrl }}"
            style="height: 50px; width: 50px; border-radius: 50%"
          />
        </td>
        <td>{{ item.username }}</td>
        <td *ngIf="item.fullName; else elseBlock">{{ item.fullName }}</td>
        <ng-template #elseBlock><td>No Name</td></ng-template>
        <td>{{ item.role.name }}</td>
        <td>
          <div class="user-actions">
            <p-button
              type="button"
              title="Delete"
              icon="pi pi-trash"
              size="small"
              severity="danger"
              [rounded]="true"
              [outlined]="true"
              (onClick)="onDelete(item.id)"
            ></p-button>
            <p-button
              type="button"
              title="Edit"
              [rounded]="true"
              [outlined]="true"
              size="small"
              icon="pi pi-pencil"
              severity="warning"
              (onClick)="onEdit(item.id)"
            ></p-button>
            <p-button
              type="button"
              [rounded]="true"
              [outlined]="true"
              title="Assign to project"
              icon="pi pi pi-user-plus"
              severity="warning"
              (onClick)="onAssignProject(item.id)"
            ></p-button>
            <!-- <p-button
              type="button"
              title="Assign to meeting"
              icon="pi pi-calendar-plus"
              size="small"
              severity="danger"
              [rounded]="true"
              [outlined]="true"
              (onClick)="onAssignToMeeting(item.id)"
            ></p-button> -->
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft"> </ng-template>
    <ng-template pTemplate="paginatorright"> </ng-template>
  </p-table>
  <p-confirmDialog
    [style]="{ width: '50vw' }"
    key="positionDialog"
    [baseZIndex]="10000"
  ></p-confirmDialog>
  <p-sidebar [(visible)]="visibleSidebar" position="right" [baseZIndex]="10000">
    <div class="container">
      <h1>Edit User</h1>
      <form (submit)="onSubmit()">
        <input
          type="text"
          pInputText
          class="p-inputtext-lg"
          name="username"
          id="sidebar-input"
          value="{{ userDetails?.username }}"
          [(ngModel)]="username"
        />
        <input
          type="password"
          pInputText
          class="p-inputtext-lg"
          name="password"
          id="sidebar-input"
          [(ngModel)]="password"
          placeholder="Password"
        />
        <input
          type="text"
          pInputText
          class="p-inputtext-lg"
          id="sidebar-input"
          value="{{ userDetails?.fullName }}"
          name="fullName"
          placeholder="Full Name"
          [(ngModel)]="fullName"
        />
        <p-dropdown
          [options]="roles"
          [(ngModel)]="selectedRole"
          [style]="{ width: '100%' }"
          id="sidebar-input"
          class="test"
          name="optional"
          placeholder="Select role"
        ></p-dropdown>
        <button
          pButton
          type="submit"
          label="Edit User"
          class="p-button-lg"
        ></button>
      </form>
    </div>
  </p-sidebar>
  <p-sidebar
    [(visible)]="visibleSidebarAssignToProject"
    position="left"
    [baseZIndex]="10000"
  >
    <div class="container">
      <h1>Edit User</h1>
      <form (submit)="onAssignUserToProject()">
        <p-dropdown
          [options]="projects"
          [(ngModel)]="selectedProject"
          [style]="{ width: '100%' }"
          class="test"
          name="optional"
          id="sidebar-input"
          placeholder="Select project"
          optionLabel="key"
          optionValue="id"
        ></p-dropdown>
        <button
          pButton
          type="submit"
          label="Edit User"
          class="p-button-lg"
        ></button>
      </form>
    </div>
  </p-sidebar>

  <p-sidebar
    [(visible)]="assignToMeetingSidebar"
    position="left"
    [baseZIndex]="10000"
  >
    <div class="container">
      <h2>Assign to meeting</h2>
      <form (submit)="onAssignUserToProject()">
        <p-dropdown
          [options]="meetings"
          [(ngModel)]="selectedProject"
          [style]="{ width: '100%' }"
          class="test"
          name="optional"
          id="sidebar-input"
          placeholder="Select project"
          optionLabel="key"
          optionValue="id"
        ></p-dropdown>
        <button
          pButton
          type="submit"
          label="Edit User"
          class="p-button-lg"
        ></button>
      </form>
    </div>
  </p-sidebar>
</div>
<p-toast></p-toast>
