:host {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

form {
  padding: 20px;
  margin-top: 20px;
  display: flex;
  width: 30%;
  height: 70vh;
  flex-direction: column;
  justify-items: center;
  margin: auto;
}

input {
  margin: 0% 0% 5% 0%;
}
