<div class="card">
  <div class="head-actions">
    <div class="actions">
      <!-- <p-button
        severity="info"
        [rounded]="true"
        [outlined]="true"
        icon="pi pi-backward"
        title="Back to projects."
        iconPos="left"
        (onClick)="onBackToProjects()"
      ></p-button> -->
    </div>
    <div class="page-name-project-title">
      <div class="page-name"><label>Meetings</label></div>
      <div class="project-name">
        <label>Project:&nbsp;&nbsp;</label>
        <p style="font-weight: bold">{{ projectTitle }}</p>
      </div>
    </div>
    <div class="task-create">
      <p-button
        severity="success"
        [rounded]="true"
        [outlined]="true"
        icon="pi pi-plus"
        title="Create Meeting."
        iconPos="left"
        (onClick)="onCreateMeeting()"
      ></p-button>
    </div>
  </div>
  <p-table
    [value]="items"
    [paginator]="true"
    [rows]="10"
    [reorderableColumns]="true"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>{{ item.title }}</td>
        <td>{{ item.date | date : "fullDate" }}</td>
        <td>
          <div class="meeting-actions">
            <p-button
              type="button"
              title="Delete"
              [rounded]="true"
              [outlined]="true"
              icon="pi pi-trash"
              severity="danger"
              (onClick)="onDelete(item.id)"
            ></p-button>
            <p-button
              type="button"
              title="Edit"
              [rounded]="true"
              [outlined]="true"
              icon="pi pi-pencil"
              severity="warning"
              (onClick)="onEdit(item.id)"
            ></p-button>
            <p-button
              type="button"
              title="Assign user"
              [rounded]="true"
              [outlined]="true"
              icon="pi pi-user-plus"
              severity="success"
              (onClick)="onAssignUserToMeeting(item.id)"
            ></p-button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft"> </ng-template>
    <ng-template pTemplate="paginatorright"> </ng-template>
  </p-table>
  <p-confirmDialog
    [style]="{ width: '50vw' }"
    key="positionDialog"
    [baseZIndex]="10000"
  ></p-confirmDialog>
  <p-sidebar [(visible)]="visibleSidebar" position="right" [baseZIndex]="10000">
    <div class="container">
      <h1>Edit Meeting</h1>
      <form (submit)="onSubmit()">
        <input
          type="datetime-local"
          pInputText
          id="sidebar-input"
          class="p-inputtext-lg"
          name="Date"
          value="{{ meetingDetails?.date }}"
          [(ngModel)]="date"
        />
        <input
          type="text"
          pInputText
          id="sidebar-input"
          class="p-inputtext-lg"
          name="Title"
          value="{{ meetingDetails?.title }}"
          [(ngModel)]="title"
        />
        <button
          pButton
          type="submit"
          label="Edit Meeting"
          class="p-button-lg"
        ></button>
      </form>
    </div>
  </p-sidebar>
  <p-sidebar
    [(visible)]="assignUserToMeetingSidebar"
    position="right"
    [baseZIndex]="10000"
  >
    <div class="container">
      <h2>Assign user to meeting</h2>
      <form (submit)="onSubmit()">
        <input
          type="datetime-local"
          pInputText
          id="sidebar-input"
          class="p-inputtext-lg"
          name="Date"
          value="{{ meetingAsign?.title }}"
          [(ngModel)]="date"
        />
        <input
          type="text"
          pInputText
          id="sidebar-input"
          class="p-inputtext-lg"
          name="Title"
          value="{{ meetingDetails?.title }}"
          [(ngModel)]="title"
        />
        <button
          pButton
          type="submit"
          label="Edit Meeting"
          class="p-button-lg"
        ></button>
      </form>
    </div>
  </p-sidebar>
</div>
<p-toast></p-toast>
