.card {
  width: 100%;
  justify-content: center;
}

.head-actions {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  height: 60px;
  flex-direction: row;
  /* background-color: #f9fafb; */
  justify-content: space-between;
}

.project-name {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.page-name {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 0;
}

.page-name-project-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meeting-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

form {
  padding: 20px;
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-items: center;
  flex-direction: column;
  margin: auto;
}

input {
  margin: 5%;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.test {
  margin: 20px;
}

th {
  text-align: center;
}

td {
  text-align: center;
}

.actions {
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
}
