<div class="card">
  <div class="head-actions">
    <div class="actions">
      <div class="page-name"><h1>Meetings</h1></div>
      <div class="project-name">
        <label>Project:&nbsp;&nbsp;</label>
        <p style="font-weight: bold">{{ projectTitle }}</p>
      </div>
    </div>
    <div class="page-name-project-title"></div>
    <div class="task-create">
      <p-button
        severity="success"
        [rounded]="true"
        [outlined]="true"
        icon="pi pi-plus"
        title="Create Meeting."
        iconPos="left"
        (onClick)="onCreateMeeting()"
      ></p-button>
    </div>
  </div>
  <p-table
    [value]="items"
    [paginator]="true"
    [(rows)]="offset"
    [rowsPerPageOptions]="[5, 10, 15]"
    [reorderableColumns]="true"
    (onPage)="onChangePage($event)"
    [totalRecords]="totalRecords"
    [lazy]="true"
    [loading]="loading"
    loadingIcon="pi pi-spin pi-spinner-dotted"
    (onLazyLoad)="onLazyLoad()"
    styleClass="p-datatable-gridlines"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>{{ item.title }}</td>
        <td>{{ item.date | date : "fullDate" }}</td>
        <td>
          <div class="meeting-actions">
            <p-button
              type="button"
              title="Delete"
              [rounded]="true"
              [outlined]="true"
              icon="pi pi-trash"
              severity="danger"
              (onClick)="onDelete(item.id)"
            ></p-button>
            <p-button
              type="button"
              title="Edit"
              [rounded]="true"
              [outlined]="true"
              icon="pi pi-pencil"
              severity="warning"
              (onClick)="onEdit(item.id)"
            ></p-button>
            <p-button
              type="button"
              title="Users"
              [rounded]="true"
              [outlined]="true"
              icon="pi pi-user"
              severity="info"
              (onClick)="onViewRelatedUsers(item.id)"
            ></p-button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="3">
          <app-not-found-resource
            [totalRecords]="totalRecords"
          ></app-not-found-resource>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft"> </ng-template>
    <ng-template pTemplate="paginatorright"> </ng-template>
  </p-table>
  <p-confirmDialog
    [style]="{ width: '50vw' }"
    key="positionDialog"
    [baseZIndex]="10000"
  ></p-confirmDialog>
  <p-sidebar [(visible)]="visibleSidebar" position="right" [baseZIndex]="10000">
    <ng-template pTemplate="header"><h1>Edit Meeting</h1></ng-template>
    <ng-template pTemplate="content">
      <form>
        <label for="date">Date</label>
        <input
          type="datetime"
          pInputText
          id="sidebar-input"
          class="p-inputtext-lg"
          name="Date"
          value="{{ meetingDetails?.date }}"
          [(ngModel)]="date"
        />
        <label for="title">Title</label>
        <input
          type="text"
          pInputText
          id="sidebar-input"
          class="p-inputtext-lg"
          name="Title"
          placeholder="Title"
          value="{{ meetingDetails?.title }}"
          [(ngModel)]="title"
        />
      </form>
    </ng-template>
    <ng-template pTemplate="footer">
      <button
        pButton
        type="submit"
        label="Edit Meeting"
        class="p-button-lg"
        (click)="onSubmit()"
        [style]="{ width: '100%' }"
      ></button>
    </ng-template>
  </p-sidebar>
</div>
<p-toast></p-toast>
