<div class="container-width">
  <p-card class="card">
    <div class="image" *ngIf="!hasImage; else elseBlock"></div>
    <ng-template #elseBlock
      ><img
        alt="Image"
        src="{{ currentLoggedUser.imageUrl }}"
        style="height: 200px; width: 200px"
        class="test"
      />
    </ng-template>
    <div class="user-info">
      <div class="user-data">
        <div class="username-role">
          <div class="user-info-components">
            <p>Username:</p>
            <p>{{ currentLoggedUser.username }}</p>
          </div>
          <div class="user-info-components">
            <p>Role:</p>
            <p>{{ currentLoggedUser.role.name }}</p>
          </div>
          <div class="user-info-components">
            <p>Full name:</p>
            <p>
              {{
                currentLoggedUser.fullName
                  ? currentLoggedUser.fullName
                  : "No name"
              }}
            </p>
          </div>
        </div>
      </div>
      <div class="user-info-components">
        <p-button
          type="button"
          title="Change Password"
          icon="pi pi-key"
          severity="info"
          [rounded]="true"
          [outlined]="true"
          (onClick)="onChangePassword(currentLoggedUser.id)"
        ></p-button>

        <p-fileUpload
          (onSelect)="onSelect($event)"
          accept=".png, .jpeg, .jpg"
          [maxFileSize]="2000000"
          mode="basic"
          [auto]="true"
          [chooseIcon]="'pi pi-image'"
          [ariaPlaceholder]="'test'"
        >
        </p-fileUpload>
      </div>
    </div>
  </p-card>
  <p-sidebar [(visible)]="visibleSidebar" position="right" [baseZIndex]="10000">
    <ng-template pTemplate="header"><h1>Edit User</h1></ng-template>
    <ng-template pTemplate="content">
      <form>
        <input
          type="password"
          pInputText
          id="sidebar-input"
          class="p-inputtext-lg"
          name="Password"
          placeholder="Password"
          [(ngModel)]="updatedUserPassword.oldPassword"
        />
        <input
          type="password"
          pInputText
          id="sidebar-input"
          class="p-inputtext-lg"
          name="Password"
          placeholder="New password"
          [(ngModel)]="updatedUserPassword.newPassword"
        />
        <input
          type="password"
          pInputText
          class="p-inputtext-lg"
          name="Password"
          id="sidebar-input"
          placeholder="Confirm new password"
          [(ngModel)]="updatedUserPassword.confirmNewPassword"
        />
      </form>
    </ng-template>
    <ng-template pTemplate="footer">
      <button
        pButton
        type="submit"
        label="Edit User"
        class="p-button-lg"
        [style]="{ width: '100%' }"
        (click)="onSubmit()"
      ></button>
    </ng-template>
  </p-sidebar>
</div>

<p-toast></p-toast>
