<div class="container-width">
  <p-card class="card">
    <div class="image" *ngIf="!hasImage; else elseBlock">
      <p-fileUpload
        [style]="{ margin: '20px' }"
        name="image"
        [customUpload]="true"
        (uploadHandler)="onSelect($event)"
        (onUpload)="onSucessfulUploadImage()"
        accept=".png,.jpg"
        uploadLabel=" "
        chooseLabel=" "
        cancelLabel=" "
        [mode]="'advanced'"
        [maxFileSize]="2000000"
      ></p-fileUpload>
      <!-- <input type="file" value="upload" (change)="onSelect($event)" /> -->
    </div>
    <ng-template #elseBlock
      ><img
        alt="Image"
        src="{{ currentLoggedUser.imageUrl }}"
        style="height: 200px; width: 200px"
        class="test"
      />
    </ng-template>
    <div class="user-info">
      <div class="user-data">
        <div class="username-role">
          <div class="user-info-components">
            <p>Username:</p>
            <p>{{ currentLoggedUser.username }}</p>
          </div>
          <div class="user-info-components">
            <p>Role:</p>
            <p>{{ currentLoggedUser.role.name }}</p>
          </div>
          <div class="user-info-components">
            <p>Full name:</p>
            <p>
              {{
                currentLoggedUser.fullName
                  ? currentLoggedUser.fullName
                  : "No name"
              }}
            </p>
          </div>
        </div>
      </div>
      <div class="user-info-components">
        <p-button
          type="button"
          title="Change Password"
          icon="pi pi-key"
          severity="info"
          [rounded]="true"
          [outlined]="true"
          (onClick)="onChangePassword(currentLoggedUser.id)"
        ></p-button>
        <p-button
          type="button"
          severity="info"
          [rounded]="true"
          [outlined]="true"
          title="Change image"
          icon="pi pi-image"
          (onClick)="onOpenChangeImageSidebar()"
        ></p-button>
      </div>
    </div>
  </p-card>
  <p-sidebar [(visible)]="visibleSidebar" position="right" [baseZIndex]="10000">
    <div class="container">
      <h1>Edit User</h1>
      <form (submit)="onSubmit()">
        <input
          type="password"
          pInputText
          id="sidebar-input"
          class="p-inputtext-lg"
          name="Password"
          placeholder="Password"
          [(ngModel)]="updatedUserPassword.oldPassword"
        />
        <input
          type="password"
          pInputText
          id="sidebar-input"
          class="p-inputtext-lg"
          name="Password"
          placeholder="New password"
          [(ngModel)]="updatedUserPassword.newPassword"
        />
        <input
          type="password"
          pInputText
          class="p-inputtext-lg"
          name="Password"
          id="sidebar-input"
          placeholder="Confirm new password"
          [(ngModel)]="updatedUserPassword.confirmNewPassword"
        />
        <button
          pButton
          type="submit"
          label="Edit User"
          class="p-button-lg"
        ></button>
      </form>
    </div>
  </p-sidebar>
  <p-sidebar [(visible)]="imageSideBar" position="right" [baseZIndex]="10000">
    <div class="container">
      <p-fileUpload
        [style]="{ margin: '20px' }"
        name="image"
        [customUpload]="true"
        (uploadHandler)="onSelect($event)"
        (onUpload)="onSucessfulUploadImage()"
        accept=".png,.jpg"
        uploadLabel=" "
        chooseLabel=" "
        cancelLabel=" "
        [mode]="'advanced'"
        [maxFileSize]="2000000"
      ></p-fileUpload>
    </div>
  </p-sidebar>
</div>
