<div class="head-actions">
  <div class="actions"></div>
  <div class="page-name-project-title">
    <div class="page-name">
      <h1>Create meeting</h1>
    </div>
  </div>
  <div class="task-create"></div>
</div>
<form (submit)="onSubmit()">
  <div class="flex flex-column gap-2 meeting-create-input">
    <label for="date">Date</label>
    <p-calendar
      [showTime]="true"
      dateFormat="dd.mm.yy"
      hourFormat="12"
      [style]="{ width: '100%' }"
      [showIcon]="true"
      inputId="meeting_date"
      placeholder="Date"
      (onSelect)="onSelectDate($event)"
    />
  </div>
  <div class="flex flex-column gap-2 meeting-create-input">
    <label for="title">Title</label>
    <input
      type="text"
      pInputText
      id="sidebar-input"
      name="title"
      [(ngModel)]="title"
      placeholder="Meeting title"
    />
  </div>
  <div class="flex flex-column gap-2 meeting-create-input">
    <label for="project">Project</label>
    <input
      type="text"
      pInputText
      id="sidebar-input"
      name="title"
      [value]="selectedProject?.key"
      [disabled]="true"
      placeholder="Meeting title"
    />
  </div>
  <button pButton type="submit" label="Create" class="p-button-lg"></button>
</form>
<p-toast></p-toast>
