<div class="head-actions">
  <div class="actions">
    <!-- <p-button
      severity="info"
      [rounded]="true"
      [outlined]="true"
      icon="pi pi-backward"
      title="Back to home."
      iconPos="left"
      (onClick)="onHomeButton()"
    ></p-button> -->
  </div>
  <div class="page-name-project-title">
    <div class="page-name">
      <h1>Create meeting</h1>
    </div>
  </div>
  <div class="task-create"></div>
</div>
<form (submit)="onSubmit()">
  <label for="date">Date</label>
  <input
    type="datetime-local"
    pInputText
    class="p-inputtext-lg"
    name="Date"
    id="sidebar-input"
    [(ngModel)]="date"
    placeholder="Date"
  />
  <label for="title">Title</label>
  <input
    type="text"
    pInputText
    class="p-inputtext-lg"
    id="sidebar-input"
    name="title"
    [(ngModel)]="title"
    placeholder="Meeting title"
  />
  <label for="project">Project</label>
  <p-dropdown
    [options]="projects"
    [(ngModel)]="selectedProject"
    [disabled]="true"
    [style]="{ width: '100%' }"
    id="sidebar-input"
    class="test"
    name="optional"
    placeholder="Select Project"
    optionLabel="key"
  ></p-dropdown>
  <button pButton type="submit" label="Create" class="p-button-lg"></button>
</form>
<p-toast></p-toast>
