<div class="card">
  <div class="head-actions">
    <div class="actions">
      <!-- <p-button
        severity="info"
        [rounded]="true"
        [outlined]="true"
        icon="pi pi-backward"
        title="Back to home."
        iconPos="left"
        (onClick)="onHomeButton()"
      ></p-button> -->
    </div>
    <div class="page-name-project-title">
      <div class="page-name">
        <label style="font-weight: bold; font-size: 1.5rem; display: block"
          >Projects</label
        >
      </div>
    </div>
    <div class="task-create">
      <p-button
        severity="success"
        [rounded]="true"
        [outlined]="true"
        icon="pi pi-plus"
        title="Create project."
        iconPos="left"
        (onClick)="onCreateProject()"
      ></p-button>
    </div>
  </div>
  <p-table
    [value]="items"
    [paginator]="true"
    [rows]="10"
    [reorderableColumns]="true"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Key</th>
        <th>Title</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td
          [style]="{
            'text-align': 'center'
          }"
        >
          {{ item.key }}
        </td>
        <td>{{ item.title }}</td>
        <td>
          <div class="project-actions">
            <p-button
              type="button"
              title="Delete"
              [rounded]="true"
              [outlined]="true"
              icon="pi pi-trash"
              severity="danger"
              (onClick)="onDelete(item.id)"
            ></p-button>
            <p-button
              type="button"
              title="Edit"
              [rounded]="true"
              [outlined]="true"
              icon="pi pi-pencil"
              severity="warning"
              (onClick)="onEdit(item.id)"
            ></p-button>
            <p-button
              type="button"
              title="Access and manage your meetings for current project."
              [rounded]="true"
              severity="info"
              [outlined]="true"
              icon="pi pi-users"
              (onClick)="onViewMeetings(item.key, item.title)"
            ></p-button>
            <p-button
              type="button"
              [rounded]="true"
              severity="info"
              [outlined]="true"
              title="Access and manage your tasks for current project."
              icon="pi pi-check-square"
              (onClick)="onViewTasks(item.key, item.title)"
            ></p-button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft"> </ng-template>
    <ng-template pTemplate="paginatorright"> </ng-template>
  </p-table>
  <p-confirmDialog
    [style]="{ width: '50vw' }"
    key="positionDialog"
    [baseZIndex]="10000"
  ></p-confirmDialog>
  <p-sidebar
    [(visible)]="projectEditSideBar"
    position="right"
    [baseZIndex]="10000"
  >
    <div class="container">
      <h1>Edit User</h1>
      <form (submit)="onSubmit(projectDetails?.id)">
        <input
          type="text"
          pInputText
          id="sidebar-input"
          class="p-inputtext-lg"
          name="key"
          value="{{ projectDetails?.key }}"
          [(ngModel)]="key"
        />
        <input
          type="text"
          pInputText
          id="sidebar-input"
          class="p-inputtext-lg"
          value="{{ projectDetails?.title }}"
          name="title"
          [(ngModel)]="title"
        />
        <button
          pButton
          type="submit"
          label="Edit User"
          class="p-button-lg"
        ></button>
      </form>
    </div>
  </p-sidebar>
  <p-sidebar
    [fullScreen]="true"
    [(visible)]="projectMeetingSidebar"
    [baseZIndex]="10000"
  >
    <h1>Meetings</h1>
    <div class="card">
      <p-table
        [value]="currentProjectUnfinishedMeetings"
        [paginator]="true"
        [rows]="10"
        [reorderableColumns]="true"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Date</th>
            <th>Status</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td>{{ item.date }}</td>
            <td>{{ item.status }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
          <p-button
            type="button"
            icon="pi pi-plus"
            cl
            styleClass="p-button-text"
          ></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
          <p-button
            type="button"
            icon="pi pi-cloud"
            styleClass="p-button-text"
          ></p-button>
        </ng-template>
      </p-table>
    </div>
  </p-sidebar>
</div>
<p-toast></p-toast>
