.card{
    width: 100%;
    /* margin: 1rem; */
    padding: 2rem;
    justify-content: center;
}

form {
    padding: 20px;
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-items: center;
    flex-direction: column;
    margin: auto;
  }

input {
    margin: 5%;
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .test {
    margin: 20px;
  }