form {
  padding: 20px;
  margin-top: 20px;
  display: flex;
  width: 30%;
  justify-items: center;
  flex-direction: column;
  margin: auto;
}

input {
  margin: 5%;
}

.page-name-project-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head-actions {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  height: 50px;
  flex-direction: row;
  /* background-color: #f9fafb; */
  justify-content: space-between;
}

.page-name {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
