<div class="head-actions">
  <div class="actions"></div>
  <div class="page-name-project-title">
    <div class="page-name">
      <label style="font-weight: bold; font-size: 1.5rem; display: block"
        >Create user</label
      >
    </div>
  </div>
  <div class="task-create"></div>
</div>
<form (submit)="onSubmit()">
  <div class="flex flex-column gap-2 register-input">
    <label for="username">Username</label>
    <input
      type="text"
      pInputText
      class="p-inputtext-md"
      name="username"
      id="sidebar-input"
      [(ngModel)]="userCredentials.username"
      placeholder="Username"
    />
  </div>
  <div class="flex flex-column gap-2 register-input">
    <label for="password">Password</label>
    <input
      type="password"
      pInputText
      class="p-inputtext-md"
      placeholder="Password"
      id="sidebar-input"
      name="password"
      [(ngModel)]="userCredentials.password"
    />
  </div>
  <div class="flex flex-column gap-2 register-input">
    <label for="confirmPassword">Confirm password</label>
    <input
      type="password"
      pInputText
      class="p-inputtext-md"
      placeholder="Confirm password"
      id="sidebar-input"
      name="confirmPassword"
      [(ngModel)]="userCredentials.confirmPassword"
    />
  </div>
  <div class="first-last-name">
    <div class="flex flex-column gap-2 create-user-input">
      <label for="full-name">First name</label>
      <input
        type="text"
        pInputText
        class="p-inputtext-md"
        id="sidebar-input"
        placeholder="First name"
        name="firstName"
        [(ngModel)]="userCredentials.firstName"
      />
    </div>
    <div class="flex flex-column gap-2 create-user-input">
      <label for="full-name">Last name</label>
      <input
        type="text"
        pInputText
        class="p-inputtext-md"
        id="sidebar-input"
        placeholder="Last name"
        name="lastName"
        [(ngModel)]="userCredentials.lastName"
      />
    </div>
  </div>
  <button pButton type="submit" label="Create" class="p-button-lg"></button>
</form>
<p-toast></p-toast>
