<form (submit)="onSubmit()">
  <div class="field">
    <label for="username" class="block">Username</label>
    <input
      type="text"
      pInputText
      class="p-inputtext-md"
      name="username"
      [(ngModel)]="newUser.username"
      placeholder="Username"
      required
    />
  </div>
  <div class="field">
    <div class="input">
      <label for="password" class="block">Password</label>
      <input
        type="password"
        pInputText
        class="p-inputtext-md"
        placeholder="Password"
        name="password"
        [(ngModel)]="newUser.password"
        required
      />
    </div>
    <small id="username2-help" class="p-error block" [hidden]="passwordCheck"
      >Password must contains minimum 8 symbols, one uppercase letter, one
      lowercase letter and one number</small
    >
  </div>
  <div class="field">
    <label for="FullName" class="block">Full Name</label>
    <input
      type="text"
      pInputText
      class="p-inputtext-md"
      placeholder="FullName"
      name="fullName"
      [(ngModel)]="newUser.fullName"
    />
  </div>
  <button pButton type="submit" label="Create" class="p-button-lg"></button>
</form>
<p-toast></p-toast>
