<div class="container">
  <div class="logo">
    <img src="assets/logo.png" height="100" width="172" />
    <h3>Register</h3>
  </div>
  <div class="container-form container">
    <div class="form">
      <form (submit)="onSubmit()">
        <div class="flex flex-column gap-2 register-input">
          <label for="username">Username</label>
          <input
            pInputText
            type="text"
            id="username"
            name="username"
            aria-describedby="username-help"
            [(ngModel)]="newUser.username"
            class="p-inputtext-sm"
          />
        </div>
        <div class="flex flex-column gap-1 register-input">
          <label for="password">Password</label>
          <input
            pInputText
            type="password"
            id="password"
            name="password"
            aria-describedby="username-help"
            [(ngModel)]="newUser.password"
            class="p-inputtext-sm"
          />
          <small
            id="username-help"
            *ngIf="passwordCheck == false"
            [style]="{ color: 'red' }"
          >
            Password must contains minimum 8 symbols, one uppercase letter, one
            lowercase letter and one number
          </small>
        </div>
        <div class="flex flex-column gap-2 register-input">
          <label for="confirm-password">Confirm password</label>
          <input
            pInputText
            type="password"
            id="confirm-password"
            name="confirm-password"
            class="p-inputtext-sm"
            [(ngModel)]="newUser.confirmPassword"
            aria-describedby="username-help"
          />
        </div>
        <div class="register-name">
          <div class="flex flex-column gap-2 register-name-input">
            <label for="firstName">First name</label>
            <input
              pInputText
              type="text"
              name="first-name"
              id="first-name"
              [(ngModel)]="newUser.firstName"
              class="p-inputtext-sm register-name-input-name"
            />
          </div>
          <div
            class="flex flex-column gap-2 register-name-input register-name-input"
          >
            <label for="full-name">Last name</label>
            <input
              pInputText
              type="text"
              name="last-name"
              id="last-name"
              [(ngModel)]="newUser.lastName"
              class="p-inputtext-sm register-name-input-name register-name-input-name-last"
            />
          </div>
        </div>
        <div class="flex flex-column gap-2 register-input">
          <button
            pButton
            type="submit"
            label="Register"
            class="p-button-lg"
            [style]="{ width: '100%' }"
          ></button>
        </div>
      </form>
    </div>
    <div class="signIn">
      <p>
        Already have account?&nbsp;
        <label (click)="redirectToLogin()">Login</label>
      </p>
    </div>
  </div>
</div>
<p-toast></p-toast>
