::ng-deep .p-datatable.p-component {
  display: flex;
  width: 100%;
  height: 75vh;
  flex-direction: column;
  justify-content: space-between;
}

::ng-deep .p-element.p-datatable-tbody tr {
  height: 3rem;
}

::ng-deep .p-sidebar-content {
  height: 70vh;
}

::ng-deep #sidebar-input {
  margin: 0% 0% 5% 0%;
}

::ng-deep input::placeholder {
  font-size: 15px;
}

::ng-deep table th {
  background-color: #2fc5ce;
  color: #fff;
}

::ng-deep .p-sidebar > input {
  width: 100%;
}

::ng-deep .p-sidebar > input {
  width: 100%;
  font-size: 1rem !important;
}

::ng-deep .p-multiselect,
::ng-deep input {
  width: 100%;
}

::ng-deep .p-datepicker table td {
  padding: 0.2rem !important;
}

::ng-deep .p-datepicker table td > span {
  width: 1.7rem;
  height: 1.7rem;
}

::ng-deep .p-datepicker table {
  font-size: 10pt;
  margin: -0.143rem 0;
}

::ng-deep .p-datepicker .p-datepicker-header {
  padding: 0.2rem;
}
