::ng-deep .p-datatable.p-component {
  display: flex;
  width: 100%;
  height: 75vh;
  flex-direction: column;
  justify-content: space-between;
}

::ng-deep .p-element.p-datatable-tbody tr {
  height: 3rem;
}

::ng-deep .p-sidebar-content {
  height: 70vh;
}

::ng-deep #sidebar-input {
  margin: 0% 0% 5% 0%;
}

::ng-deep input::placeholder {
  font-size: 15px;
}

::ng-deep table th {
  background-color: #2fc5ce;
  color: #fff;
}
