<div class="card">
  <p-table
    [value]="projectsWithoutUsers"
    [paginator]="true"
    [rows]="10"
    [reorderableColumns]="true"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Key</th>
        <th>Title</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>{{ item.key }}</td>
        <td>{{ item.title }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <p-button
        type="button"
        icon="pi pi-plus"
        cl
        styleClass="p-button-text"
      ></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <p-button
        type="button"
        icon="pi pi-cloud"
        styleClass="p-button-text"
      ></p-button>
    </ng-template>
  </p-table>
</div>
