<div class="card">
  <div class="head-actions">
    <div class="actions">
      <div class="page-name">
        <h1>Users</h1>
      </div>
      <div class="project-name">
        <label>Meeting:&nbsp;&nbsp;</label>
        <p style="font-weight: bold">{{ currentMeeting?.title }}</p>
      </div>
    </div>
    <div class="page-name-project-title"></div>
    <div class="task-create">
      <p-button
        *ngIf="userRole == 'administrator'"
        type="button"
        title="Assign user"
        [rounded]="true"
        [outlined]="true"
        icon="pi pi-user-plus"
        severity="success"
        (onClick)="onAssignUserToMeeting()"
      ></p-button>
    </div>
  </div>
  <p-table
    class="table"
    [value]="items"
    [paginator]="true"
    [(rows)]="offset"
    [rowsPerPageOptions]="[5, 10, 15]"
    [totalRecords]="totalRecords"
    [lazy]="true"
    [loading]="loading"
    loadingIcon="pi pi-spin pi-spinner-dotted"
    (onPage)="onChangePage($event)"
    (onLazyLoad)="onLazyLoad()"
    styleClass="p-datatable-gridlines"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Picture</th>
        <th>Username</th>
        <th>Full name</th>
        <th>Role</th>
        <th *ngIf="userRole == 'administrator'">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" class="myTable" let-item>
      <tr>
        <td>
          <img
            src="{{ item.imageUrl }}"
            style="height: 50px; width: 50px; border-radius: 50%"
          />
        </td>
        <td>{{ item.username }}</td>
        <td *ngIf="item.fullName; else elseBlock">{{ item.fullName }}</td>
        <ng-template #elseBlock><td>No Name</td></ng-template>
        <td>{{ item.role.name }}</td>
        <td *ngIf="userRole == 'administrator'">
          <p-button
            type="button"
            [rounded]="true"
            severity="danger"
            [outlined]="true"
            title="Remove user from meeting."
            icon="pi pi-trash"
            (onClick)="onUnAssignUser(item.id)"
          ></p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4">
          <app-not-found-resource
            [totalRecords]="totalRecords"
          ></app-not-found-resource>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft"> </ng-template>
    <ng-template pTemplate="paginatorright"> </ng-template>
  </p-table>
  <p-sidebar
    [(visible)]="assignUserToMeetingSidebar"
    position="right"
    [baseZIndex]="10000"
  >
    <ng-template pTemplate="header"><h3>Assign user</h3></ng-template>
    <ng-template pTemplate="content">
      <form>
        <input
          type="text"
          pInputText
          id="sidebar-input"
          name="Date"
          disabled="true"
          value="{{ currentMeeting?.title }}"
        />
        <p-multiSelect
          #multiselect
          [ariaFilterLabel]="'test'"
          name="users"
          [options]="users"
          placeholder="Assign users"
          [filter]="false"
          [(ngModel)]="selectedUsers"
          [showToggleAll]="false"
          optionLabel="username"
          optionValue="id"
        >
          <ng-template pTemplate="header">
            <p-checkbox
              (click)="multiselect.onToggleAll($event)"
              [value]="false"
            ></p-checkbox>
            Select all
          </ng-template>
        </p-multiSelect>
      </form>
    </ng-template>
    <ng-template pTemplate="footer">
      <button
        pButton
        type="submit"
        label="Assign User"
        class="p-button-lg"
        (click)="onAssignUserToMeetingSubmit()"
        [style]="{ width: '100%' }"
      ></button>
    </ng-template>
  </p-sidebar>
</div>
<p-toast></p-toast>
