<div class="card">
  <div class="head-actions">
    <div class="actions">
      <!-- <p-button
        severity="info"
        [rounded]="true"
        [outlined]="true"
        icon="pi pi-backward"
        title="Back to projects."
        iconPos="left"
        (onClick)="onBackToProjects()"
      ></p-button> -->
      <div class="page-name"><h1>Tasks</h1></div>
      <div class="project-name">
        <label>Project:&nbsp;&nbsp;</label>
        <p style="font-weight: bold">{{ projectTitle }}</p>
      </div>
    </div>
    <div class="page-name-project-title"></div>
    <div class="task-create"></div>
  </div>
  <div class="my-table">
    <p-table
      [value]="items"
      [paginator]="true"
      [(rows)]="offset"
      [rowsPerPageOptions]="[5, 10, 15]"
      [reorderableColumns]="true"
      [autoLayout]="false"
      (onPage)="onChangePage($event)"
      [totalRecords]="totalRecords"
      [lazy]="true"
      [loading]="loading"
      (onLazyLoad)="onLazyLoad($event)"
      loadingIcon="pi pi-spin pi-spinner-dotted"
      styleClass="p-datatable-gridlines"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Title</th>
          <th>Progress</th>
          <th>Initial estimation</th>
          <th>Status</th>
          <th>Hours spent</th>
          <th>Project related</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td>{{ item.title }}</td>
          <td>{{ item.progress }}%</td>
          <td>{{ item.initialEstimation }}h</td>
          <td [style.color]="item.taskStatus === 'DONE' ? 'green' : 'blue'">
            {{ item.taskStatus }}
          </td>
          <td>{{ item.hoursSpent }}h</td>
          <td>{{ item.project.title }}</td>
          <td>
            <div class="project-actions">
              <p-button
                [disabled]="item.progress == 100 ? true : false"
                type="button"
                title="Edit progress"
                severity="warning"
                [rounded]="true"
                [outlined]="true"
                icon="pi pi-pencil"
                (onClick)="onUpdateProgress(item.id)"
              ></p-button>
              <p-button
                icon="pi pi-users"
                title="View related users"
                iconPos="left"
                [rounded]="true"
                severity="info"
                [outlined]="true"
                (onClick)="onViewUsers(item.id)"
              ></p-button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5">
            <app-not-found-resource
              [totalRecords]="totalRecords"
            ></app-not-found-resource>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft"></ng-template>
      <ng-template pTemplate="paginatorright"></ng-template>
    </p-table>
  </div>
  <p-sidebar [(visible)]="visibleSidebar" position="right" [baseZIndex]="10000">
    <ng-template pTemplate="header"><h3>Edit Progress</h3></ng-template>
    <ng-template pTemplate="content">
      <form>
        <label>Progress</label>
        <input
          type="number"
          pInputText
          id="sidebar-input"
          class="p-inputtext-lg"
          name="progress"
          value="{{ taskDetails.progress }}"
          [(ngModel)]="newProgress.progress"
          placeholder="Progress"
          (change)="OnDefaultValue($event)"
        />
        <label>Hours spent</label>
        <input
          type="number"
          pInputText
          id="sidebar-input"
          class="p-inputtext-lg"
          name="HoursSpent"
          value="{{ taskDetails.hoursSpent }}"
          [(ngModel)]="newProgress.hoursSpent"
          placeholder="hours spent"
          (change)="OnDefaultValue($event)"
        />
      </form>
    </ng-template>
    <ng-template pTemplate="footer">
      <button
        pButton
        type="submit"
        label="Edit Task"
        class="p-button-lg"
        (click)="onSubmit()"
        [style]="{ width: '100%' }"
      ></button>
    </ng-template>
  </p-sidebar>
</div>
