.card {
  width: 100%;
  justify-content: center;
}

.project-actions {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  height: 50px;
  flex-direction: row;
  background-color: #f9fafb;
  justify-content: space-between;
}

.page-name-project-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

tbody {
  width: 100%;
  height: 30rem;
}

.project-name {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.page-name {
  display: flex;
  flex-direction: column;
}

form {
  padding: 20px;
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-items: center;
  flex-direction: column;
  margin: auto;
}

input {
  margin: 5%;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.test {
  margin: 20px;
}

th {
  text-align: center;
}

td {
  text-align: center;
}
.p-datatable-table {
  background-color: red;
}
