<div class="head-actions">
  <div class="actions">
    <!-- <p-button
      severity="info"
      [rounded]="true"
      [outlined]="true"
      icon="pi pi-backward"
      title="Back to projects."
      iconPos="left"
      (onClick)="onBackToProjects()"
    ></p-button> -->
    <div class="project-name">
      <label>Project:&nbsp;&nbsp;</label>
      <p style="font-weight: bold">{{ projectTitle }}</p>
    </div>
  </div>
  <div class="page-name-project-title">
    <div class="page-name"><h1>Create task</h1></div>
  </div>
  <div class="task-create">
    <!-- <p-button
      severity="success"
      [rounded]="true"
      [outlined]="true"
      icon="pi pi-plus"
      title="Create project."
      iconPos="left"
      (onClick)="onCreateTask()"
    ></p-button> -->
  </div>
</div>
<form (submit)="onSubmit()">
  <input
    type="number"
    pInputText
    class="p-inputtext-lg"
    name="initialEstimation"
    id="sidebar-input"
    [(ngModel)]="newTask.initialEstimation"
    placeholder="initialEstimation"
  />
  <input
    type="text"
    pInputText
    [disabled]="true"
    class="p-inputtext-lg"
    name="projectKey"
    id="sidebar-input"
    [(ngModel)]="projectKey"
    placeholder="initialEstimation"
  />
  <button pButton type="submit" label="Create" class="p-button-lg"></button>
</form>
<p-toast></p-toast>
