<div class="head-actions">
  <div class="actions">
    <!-- <p-button
      severity="info"
      [rounded]="true"
      [outlined]="true"
      icon="pi pi-backward"
      title="Back to projects."
      iconPos="left"
      (onClick)="onBackToProjects()"
    ></p-button> -->
    <!-- <div class="project-name">
      <label>Project:&nbsp;&nbsp;</label>
      <p style="font-weight: bold">{{ projectTitle }}</p>
    </div> -->
  </div>
  <div class="page-name-project-title">
    <div class="page-name"><h1>Create task</h1></div>
  </div>
  <div class="task-create"></div>
</div>
<form (submit)="onSubmit()">
  <div class="flex flex-column gap-2 register-input">
    <label>Initial estimation</label>
    <input
      type="number"
      pInputText
      class="p-inputtext-md"
      name="Initial estimation"
      id="sidebar-input"
      [(ngModel)]="newTask.initialEstimation"
      placeholder="Initial estimation"
    />
  </div>
  <div class="flex flex-column gap-2 register-input">
    <label>Title</label>
    <input
      type="text"
      pInputText
      class="p-inputtext-md"
      name="Title"
      id="sidebar-input"
      [(ngModel)]="newTask.title"
      placeholder="Title"
    />
  </div>
  <div class="flex flex-column gap-2 register-input">
    <label>Project</label>
    <input
      type="text"
      pInputText
      [disabled]="true"
      class="p-inputtext-md"
      name="projectKey"
      id="sidebar-input"
      [(ngModel)]="projectKey"
      placeholder="Initial estimation"
    />
  </div>

  <button pButton type="submit" label="Create" class="p-button-lg"></button>
</form>
<p-toast></p-toast>
