<div class="card">
  <div class="head-actions">
    <div class="actions">
      <!-- <p-button
        severity="info"
        [rounded]="true"
        [outlined]="true"
        icon="pi pi-backward"
        title="Back to meetings."
        iconPos="left"
        (onClick)="onHomeButton()"
      ></p-button> -->
      <div class="page-name">
        <h1>Users</h1>
      </div>
      <div class="project-name">
        <label>Project:&nbsp;&nbsp;</label>
        <p style="font-weight: bold">{{ projectTitle }}</p>
      </div>
    </div>
    <div class="page-name-project-title"></div>
    <div class="task-create"></div>
  </div>
  <p-table
    class="table"
    [value]="items"
    [paginator]="true"
    [rows]="1"
    [lazy]="true"
    [totalRecords]="totalRecords"
    (onPage)="onChangePage($event)"
    [loading]="loading"
    loadingIcon="pi pi-spin pi-spinner-dotted"
    (onLazyLoad)="onLazyLoad($event)"
    styleClass="p-datatable-gridlines"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Picture</th>
        <th>Name</th>
        <th>Full name</th>
        <th>Role</th>
        <th *ngIf="userRole == 'administrator'">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" class="myTable" let-item>
      <tr>
        <td>
          <img
            src="{{ item.imageUrl }}"
            style="height: 50px; width: 50px; border-radius: 50%"
          />
        </td>
        <td>{{ item.username }}</td>
        <td *ngIf="item.fullName; else elseBlock">{{ item.fullName }}</td>
        <ng-template #elseBlock><td>No Name</td></ng-template>
        <td>{{ item.role.name }}</td>
        <td *ngIf="userRole == 'administrator'">
          <p-button
            type="button"
            [rounded]="true"
            severity="danger"
            [outlined]="true"
            title="Users"
            icon="pi pi-trash"
            (onClick)="onUnAssignUser(item.id)"
          ></p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft"> </ng-template>
    <ng-template pTemplate="paginatorright"> </ng-template>
  </p-table>
</div>
<p-toast></p-toast>
