<div class="card">
  <div class="head-actions">
    <div class="actions">
      <div class="page-name">
        <h1>Users</h1>
      </div>
      <div class="project-name">
        <label>Project:&nbsp;&nbsp;</label>
        <p style="font-weight: bold">{{ projectTitle }}</p>
      </div>
    </div>
    <div class="page-name-project-title"></div>
    <div class="task-create">
      <p-button
        *ngIf="userRole == 'administrator'"
        severity="success"
        [rounded]="true"
        [outlined]="true"
        icon="pi pi-plus"
        title="Assign user."
        iconPos="left"
        (onClick)="onAssignUserToProject()"
        [disabled]="currentProject?.usersAvailable == 0"
      ></p-button>
    </div>
  </div>
  <p-table
    class="table"
    [value]="items"
    [paginator]="true"
    [(rows)]="offset"
    [rowsPerPageOptions]="[5, 10, 15]"
    [lazy]="true"
    [totalRecords]="totalRecords"
    (onPage)="onChangePage($event)"
    [loading]="loading"
    loadingIcon="pi pi-spin pi-spinner-dotted"
    (onLazyLoad)="onLazyLoad()"
    styleClass="p-datatable-gridlines"
    (onSort)="customSort($event)"
    [customSort]="true"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Picture</th>
        <th pSortableColumn="username">
          Username <p-sortIcon field="username"></p-sortIcon>
        </th>
        <th pSortableColumn="firstName">
          First name <p-sortIcon field="firstName"></p-sortIcon>
        </th>
        <th pSortableColumn="lastName">
          Last name <p-sortIcon field="lastName"></p-sortIcon>
        </th>
        <th>Role</th>
        <th *ngIf="userRole == 'administrator'">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" class="myTable" let-item>
      <tr>
        <td>
          <img
            src="{{ item.imageUrl }}"
            style="height: 50px; width: 50px; border-radius: 50%"
          />
        </td>
        <td>{{ item.username }}</td>
        <td>{{ item.firstName }}</td>
        <td>{{ item.lastName }}</td>
        <td>{{ item.role.name }}</td>
        <td *ngIf="userRole == 'administrator'">
          <p-button
            type="button"
            [rounded]="true"
            severity="danger"
            [outlined]="true"
            title="Users"
            icon="pi pi-trash"
            (onClick)="onUnAssignUser(item.id)"
          ></p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6">
          <app-not-found-resource
            [totalRecords]="totalRecords"
          ></app-not-found-resource>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft"> </ng-template>
    <ng-template pTemplate="paginatorright"> </ng-template>
  </p-table>

  <p-sidebar
    [(visible)]="visibleSidebarAssignToProject"
    position="left"
    [baseZIndex]="10000"
  >
    <ng-template pTemplate="header"><h3>Assign User</h3></ng-template>
    <ng-template pTemplate="content">
      <form>
        <div class="flex flex-column gap-2 register-input">
          <label>Project title</label>
          <input
            type="text"
            pInputText
            id="sidebar-input"
            class="p-inputtext-md"
            value="{{ projectTitle }}"
            name="title"
            disabled="true"
          />
        </div>
        <label>Users</label>
        <p-multiSelect
          #multiselect
          name="users"
          [options]="usersToAssign"
          placeholder="Assign users"
          [filter]="false"
          [(ngModel)]="selectedUsers"
          optionLabel="username"
          [showToggleAll]="false"
          optionValue="id"
        >
          <ng-template pTemplate="header">
            <p-checkbox
              (click)="multiselect.onToggleAll($event)"
              [value]="false"
            ></p-checkbox>
            Select all
          </ng-template>
        </p-multiSelect>
      </form>
    </ng-template>
    <ng-template pTemplate="footer">
      <button
        pButton
        type="submit"
        label="Assign user"
        class="p-button-lg"
        (click)="onAssignUserToProjectSubmit()"
        [style]="{ width: '100%' }"
      ></button>
    </ng-template>
  </p-sidebar>
</div>
<p-toast></p-toast>
