<div class="card">
  <div class="head-actions">
    <div class="actions">
      <!-- <p-button
        severity="info"
        [rounded]="true"
        [outlined]="true"
        icon="pi pi-backward"
        title="Back to projects."
        iconPos="left"
        (onClick)="onBackToProjects()"
      ></p-button> -->
    </div>
    <div class="page-name-project-title">
      <div class="page-name"><label>Tasks</label></div>
      <div class="project-name">
        <label>Project:&nbsp;&nbsp;</label>
        <p style="font-weight: bold">{{ projectTitle }}</p>
      </div>
    </div>
    <div class="task-create">
      <p-button
        severity="success"
        [rounded]="true"
        [outlined]="true"
        icon="pi pi-plus"
        title="Create project."
        iconPos="left"
        (onClick)="onCreateTask()"
      ></p-button>
    </div>
  </div>
  <p-table
    [value]="items"
    [paginator]="true"
    [rows]="10"
    [reorderableColumns]="true"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Progress</th>
        <th>Initial estimation</th>
        <th>Status</th>
        <th>Hours spent</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>{{ item.progress }}%</td>
        <td>{{ item.initialEstimation }}</td>
        <td>{{ item.taskStatus }}</td>
        <td>{{ item.hoursSpent }}</td>
        <td>
          <div class="task-actions">
            <p-button
              type="button"
              title="Delete"
              icon="pi pi-trash"
              [rounded]="true"
              [outlined]="true"
              severity="danger"
              (onClick)="onDelete(item.id)"
            ></p-button>
            <p-button
              type="button"
              title="Edit"
              [rounded]="true"
              [outlined]="true"
              icon="pi pi-pencil"
              severity="warning"
              (onClick)="onEdit(item.id)"
            ></p-button>
            <p-button
              type="button"
              title="Assign user to task"
              [rounded]="true"
              [outlined]="true"
              icon="pi pi-user-plus"
              severity="success"
              (onClick)="onAssignToTask(item.id)"
            ></p-button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft"> </ng-template>
    <ng-template pTemplate="paginatorright"> </ng-template>
  </p-table>
  <p-confirmDialog
    [style]="{ width: '50vw' }"
    key="positionDialog"
    [baseZIndex]="10000"
  ></p-confirmDialog>
  <p-sidebar [(visible)]="visibleSidebar" position="right" [baseZIndex]="10000">
    <div class="container">
      <h1>Edit Task</h1>
      <form (submit)="onSubmit()">
        <input
          type="number"
          pInputText
          class="p-inputtext-lg"
          [disabled]="taskDetails?.progress === 100 ? true : false"
          name="progress"
          id="sidebar-input"
          value="{{ taskDetails?.progress }}"
          [(ngModel)]="editedTask.progress"
          placeholder="progress"
        />
        <input
          type="number"
          pInputText
          class="p-inputtext-lg"
          name="hoursSpent"
          id="sidebar-input"
          value="{{ taskDetails?.hoursSpent }}"
          [(ngModel)]="editedTask.hoursSpent"
          placeholder="hoursSpent"
        />
        <button
          pButton
          type="submit"
          label="Edit Task"
          class="p-button-lg"
        ></button>
      </form>
    </div>
  </p-sidebar>
  <p-sidebar
    [(visible)]="assignToTaskSidebar"
    position="right"
    [baseZIndex]="10000"
  >
    <div class="container">
      <h2>Assign to task</h2>
      <form (submit)="onSubmitAssignToTask()">
        <input
          type="number"
          pInputText
          class="p-inputtext-lg"
          name="taskId"
          id="sidebar-input"
          value="{{ taskDetails?.title }}"
          [disabled]="true"
          placeholder="Task title"
        />
        <p-dropdown
          [options]="users"
          [(ngModel)]="selectedUser"
          [style]="{ width: '100%' }"
          id="sidebar-input"
          class="test"
          optionLabel="username"
          optionValue="username"
          name="optional"
          placeholder="Select user"
        ></p-dropdown>
        <button
          pButton
          type="submit"
          label="Assign to task"
          class="p-button-lg"
          [disabled]="haveUsers"
        ></button>
      </form>
    </div>
  </p-sidebar>
</div>
<p-toast></p-toast>
