<div class="card">
  <div class="head-actions">
    <div class="actions">
      <div class="page-name"><h1>Tasks</h1></div>
      <div class="project-name">
        <label>Project:&nbsp;&nbsp;</label>
        <p style="font-weight: bold">{{ projectTitle }}</p>
      </div>
    </div>
    <div class="page-name-project-title"></div>
    <div class="task-create">
      <p-button
        severity="success"
        [rounded]="true"
        [outlined]="true"
        icon="pi pi-plus"
        title="Create project."
        iconPos="left"
        (onClick)="onCreateTask()"
      ></p-button>
    </div>
  </div>
  <p-table
    [value]="items"
    [paginator]="true"
    [(rows)]="offset"
    [rowsPerPageOptions]="[5, 10, 15]"
    [reorderableColumns]="true"
    (onPage)="onChangePage($event)"
    [totalRecords]="totalRecords"
    [lazy]="true"
    [loading]="loading"
    loadingIcon="pi pi-spin pi-spinner-dotted"
    (onLazyLoad)="onLazyLoad()"
    styleClass="p-datatable-gridlines"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Title</th>
        <th>Progress</th>
        <th>Initial estimation</th>
        <th>Status</th>
        <th>Hours spent</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>{{ item.title }}</td>
        <td>{{ item.progress }}%</td>
        <td>{{ item.initialEstimation }}h</td>
        <td>{{ item.taskStatus }}</td>
        <td>{{ item.hoursSpent }}h</td>
        <td>
          <div class="task-actions">
            <p-button
              type="button"
              title="Delete"
              icon="pi pi-trash"
              [rounded]="true"
              [outlined]="true"
              severity="danger"
              (onClick)="onDelete(item.id)"
            ></p-button>
            <p-button
              type="button"
              title="Edit"
              [rounded]="true"
              [outlined]="true"
              icon="pi pi-pencil"
              severity="warning"
              (onClick)="onEdit(item.id)"
            ></p-button>
            <p-button
              type="button"
              title="Users"
              [rounded]="true"
              [outlined]="true"
              icon="pi pi-user"
              severity="info"
              (onClick)="onViewUsers(item.id)"
            ></p-button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">
          <app-not-found-resource
            [totalRecords]="totalRecords"
          ></app-not-found-resource>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft"> </ng-template>
    <ng-template pTemplate="paginatorright"> </ng-template>
  </p-table>
  <p-confirmDialog
    [style]="{ width: '50vw' }"
    key="positionDialog"
    [baseZIndex]="10000"
  ></p-confirmDialog>
  <p-sidebar [(visible)]="visibleSidebar" position="right" [baseZIndex]="10000">
    <ng-template pTemplate="header"> <h3>Edit Task</h3></ng-template>
    <ng-template pTemplate="content">
      <form>
        <label for="progress">Progress</label>
        <input
          type="number"
          pInputText
          class="p-inputtext-lg"
          [disabled]="taskDetails.progress === 100 ? true : false"
          name="progress"
          id="sidebar-input"
          value="{{ taskDetails.progress }}"
          [(ngModel)]="editedTask.progress"
          placeholder="progress"
        />
        <label for="title">Title</label>
        <input
          type="text"
          pInputText
          class="p-inputtext-lg"
          [disabled]="taskDetails.progress === 100 ? true : false"
          name="Title"
          id="sidebar-input"
          value="{{ taskDetails.title }}"
          [(ngModel)]="editedTask.title"
          placeholder="Title"
        />
        <label for="hours-spent">Hours spent</label>
        <input
          type="number"
          pInputText
          class="p-inputtext-lg"
          name="hoursSpent"
          id="sidebar-input"
          value="{{ taskDetails.hoursSpent }}"
          [(ngModel)]="editedTask.hoursSpent"
          placeholder="hoursSpent"
        />
      </form>
    </ng-template>
    <ng-template pTemplate="footer">
      <button
        pButton
        type="submit"
        label="Edit Task"
        class="p-button-lg"
        (click)="onSubmit()"
        [style]="{ width: '100%' }"
      ></button>
    </ng-template>
  </p-sidebar>
</div>
<p-toast></p-toast>
