.container-width {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.user-data {
  display: flex;
  width: 100%;
  height: 150px;
  align-items: center;
  margin-bottom: 1rem;
}

.user-data div {
  width: 100%;
}

.username-role {
  height: 100%;
}

.card {
  width: 35%;
  margin: 3rem;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-info-components {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
}
.user-info-components > p:first-child {
  font-weight: bold;
}

form {
  padding: 20px;
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-items: center;
  flex-direction: column;
  margin: auto;
}

input {
  margin: 5%;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
